# Coverage Files
.coverage
.htmlcov

# Django Files
db.sqlite3
__pycache__

# Sublime Files
SlackInvite.sublime-workspace

# Sphinx Files
docs/_build/

# Selnium Files
geckodriver.log

#Static Files
slack_invite/slack_invite/staticfiles
