
body:after{
    content:"";
    position: fixed;
    top: 0;
    height: 100vh;
    left: 0;
    right: 0;
    z-index: -1;
    background: url(../img/pattern.svg) center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

h1 {
    font-family: 'Amaranth', sans-serif;
    font-size: 60px;
    line-height:65px;
    text-align: center;
    color: #fff;
}

h2 {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    font-size: 35px;
    line-height: 40px;
    color: #5a616B; 
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin:  auto;
}

.form-signin input[type="email"] {
    font-size: 16px;
    margin-bottom: -1px;
    padding: 10px;
    height: auto;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.footer {
    position: absolute;
    bottom: -100;
    padding: 0;
    right: 0;
    left: 0;
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    text-align: center;
    color: #5a616B;
}

.img-responsive {
    max-width: 150px;
}

.h1_upper {
    text-transform: uppercase;
}

.button {
    background-color: #ff6b6b; /* Cherry Pink */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {border-radius: 4px;}
